# Models and Checkpoints (Handled via Git LFS)
# We allow these so LFS can track them
*.zip

# Data
data/
batch_results*/
*.jsonl

# Python artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment and OS
.env
.venv/
env/
venv/
.DS_Store

# Experiment Tracking
wandb/
